<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-message-feedback-heading" jhiTranslate="customerFeedBackApp.messageFeedback.home.createOrEditLabel">Create or edit a Message Feedback</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerFeedBackApp.messageFeedback.systemId" for="field_systemId">System Id</label>
                    <input type="number" class="form-control" name="systemId" id="field_systemId"
                           formControlName="systemId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerFeedBackApp.messageFeedback.centerId" for="field_centerId">Center Id</label>
                    <input type="number" class="form-control" name="centerId" id="field_centerId"
                           formControlName="centerId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerFeedBackApp.messageFeedback.systemServicesId" for="field_systemServicesId">System Services Id</label>
                    <input type="number" class="form-control" name="systemServicesId" id="field_systemServicesId"
                           formControlName="systemServicesId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerFeedBackApp.messageFeedback.counter" for="field_counter">Counter</label>
                    <input type="number" class="form-control" name="counter" id="field_counter"
                           formControlName="counter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerFeedBackApp.messageFeedback.trsId" for="field_trsId">Trs Id</label>
                    <input type="number" class="form-control" name="trsId" id="field_trsId"
                           formControlName="trsId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerFeedBackApp.messageFeedback.userId" for="field_userId">User Id</label>
                    <input type="number" class="form-control" name="userId" id="field_userId"
                           formControlName="userId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerFeedBackApp.messageFeedback.message" for="field_message">Message</label>
                    <input type="text" class="form-control" name="message" id="field_message"
                           formControlName="message"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerFeedBackApp.messageFeedback.status" for="field_status">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerFeedBackApp.messageFeedback.feedback" for="field_feedback">Feedback</label>
                    <input type="text" class="form-control" name="feedback" id="field_feedback"
                           formControlName="feedback"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerFeedBackApp.messageFeedback.applicantName" for="field_applicantName">Applicant Name</label>
                    <input type="text" class="form-control" name="applicantName" id="field_applicantName"
                           formControlName="applicantName"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
