<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="users">
            <h2><span jhiTranslate="customerFeedBackApp.users.detail.title">Users</span> {{ users.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="customerFeedBackApp.users.nameAr">Name Ar</span></dt>
                <dd>
                    <span>{{ users.nameAr }}</span>
                </dd>
                <dt><span jhiTranslate="customerFeedBackApp.users.nameEn">Name En</span></dt>
                <dd>
                    <span>{{ users.nameEn }}</span>
                </dd>
                <dt><span jhiTranslate="customerFeedBackApp.users.code">Code</span></dt>
                <dd>
                    <span>{{ users.code }}</span>
                </dd>
                <dt><span jhiTranslate="customerFeedBackApp.users.status">Status</span></dt>
                <dd>
                    <span>{{ users.status }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/users', users.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
