<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="center">
            <h2><span jhiTranslate="customerFeedBackApp.center.detail.title">Center</span> {{ center.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="customerFeedBackApp.center.nameAr">Name Ar</span></dt>
                <dd>
                    <span>{{ center.nameAr }}</span>
                </dd>
                <dt><span jhiTranslate="customerFeedBackApp.center.nameEn">Name En</span></dt>
                <dd>
                    <span>{{ center.nameEn }}</span>
                </dd>
                <dt><span jhiTranslate="customerFeedBackApp.center.code">Code</span></dt>
                <dd>
                    <span>{{ center.code }}</span>
                </dd>
                <dt><span jhiTranslate="customerFeedBackApp.center.status">Status</span></dt>
                <dd>
                    <span>{{ center.status }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/center', center.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
